@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*{

  box-sizing: border-box;

}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2{
  font-family: "Poppins", sans-serif;
}
.container{
  width:1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
img{
  max-width: 100%;
}
header{
  background-image: url('images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center center;
  padding: 40px 0;
  background-color: hsl(193, 100%, 96%);
}

nav{
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.btn{

  padding: 15px 60px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.15);
}